# environment
env.sh

# pycache & venv
__pycache__/

# build directory
.build/
logs/
implementation/synth/

# nvim/vscode stuff
.nvim/
.vscode/

# compiled object files
*.slo
*.lo
*.o
*.obj
*.vcd
*.fst
implementation/pnr/
implementation/pnr_simple/
